@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../node_modules/font-awesome/less/font-awesome";

.row {
  margin: 0px;
}

.layout-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  .layout-header {
    margin-bottom: 0px;
  }

  .layout-content {
    flex: 1;

    display: flex;
    flex-direction: column;

    .chat-app-container {
      flex: 1;

      display: flex;
      flex-direction: column;
    }
  }
}

.users-messages {
  flex: 1;

  display: flex;
  flex-direction: row;

  .user-list {
    flex: 2;

    border-left: 1px solid #ccc;
    overflow-y: scroll;
  }

  .user-message-view {
    flex: 7;

    display: flex;
    flex-direction: column;

    .message-pane {
      flex: 1;

      display: flex;
      flex-direction: column;

      .message-list-container {
        flex: 5;

        position: relative;

        .message-list {
          position: absolute;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          height: 95%;
          width: 95%;

          overflow-y: scroll;
        }
      }

      .message-box {
        flex: 1;

        display: flex;
        flex-direction: row;

        .message-input {
          flex: 5;

          position: relative;

          textarea {
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            height: 80%;
            width: 95%;
          }
        }

        .message-actions {
          flex: 1;

          position: relative;

          .send-action {
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            height: 60%;
            width: 80%;
          }
        }
      }
    }
  }
}

.user-detail-row {
  padding: 10px;

  .photo {
    height: 120px;
    width: 120px;

    border-radius: 50%;
  }

  .username {
    text-align: left;
  }

  &:hover {
    background-color: #98dffb;
    cursor: pointer;
  }
}

a.active {
  .user-detail-row {
    background-color: #87ceea;
  }
}

.no-results {
  display: block;
  text-align: center;
  margin: 30px 0px;
  font-weight: bold;
  font-size: 16px;
}
